.img-swiper{
    width: 100%;
    padding: 0 12px;
    border-radius: 12px;
    overflow: hidden;
    display: block!important;
    img{
        border-radius: 12px;
        width: 100%;
    }
}

.swiper-button-next {
    color: #d91414 !important;
}

.swiper-button-prev{
    color: #d91414 !important;
}