<swiper-container #swiperRef 
initial-slide="0" 
(swiperactiveindexchange)="onActiveIndexChange()"
[slidesPerView]="3"
[spaceBetween]="50"
[navigation]="true" [pagination]="true">
    <swiper-slide>
      <div class="img-swiper">
        <img src="https://firebasestorage.googleapis.com/v0/b/swensens-production.appspot.com/o/superdeal%2FSWS-cake-promo-2-14FEB 1440x810px.jpg?alt=media" alt="">
      </div>
    </swiper-slide>
    <swiper-slide>
        <div class="img-swiper">
          <img src="https://firebasestorage.googleapis.com/v0/b/swensens-production.appspot.com/o/superdeal%2FSWS-Gift%20Card-Chinese_1440x810px-01.jpg?alt=media" alt="">
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="img-swiper">
          <img src="https://firebasestorage.googleapis.com/v0/b/swensens-production.appspot.com/o/superdeal%2FBug Banner.png?alt=media" alt="">
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="img-swiper">
          <img src="https://firebasestorage.googleapis.com/v0/b/swensens-production.appspot.com/o/superdeal%2FAW-STRAWBERRY-APP-1440x810px_0.jpg?alt=media" alt="">
        </div>
    </swiper-slide>
  </swiper-container>