.toolbar-rd{
    height: 72px;
    background-color: #fff;
    padding: 0 0 0 24px;
    box-shadow: 0 2px 15px rgba(0,0,0,.05);
    position: fixed !important;
    width: 100%;
}

.logo{
    background: none;
    margin: 0 24px 0 0!important;
    height: 100%;
    display: flex;
    align-items: center;
}

.btn{
    min-width: 140px;
    line-height: 1.499;
    font-weight: 300;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015) !important;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 48px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 50px;
    color: #e21c23 !important;
    background-color: #fff;
    border: 1px solid #e21c23 !important;
    margin-right: 24px;
    &.login{
        color: #fff !important;
        background-color: #e21c23;
        border-color: #e21c23;
        text-shadow: 0 -1px 0 rgba(0,0,0,.12);
        box-shadow: 0 2px 0 rgba(0,0,0,.045);
    }
}

.ant-btn{
    line-height: 1.499;
    font-weight: 300;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015) !important;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 48px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 50px;
    color: #e21c23 !important;
    background-color: #fff;
    border: 1px solid #e21c23 !important;
}