<div class="section-1">
    <div class="page-banner">
        <div class="banner-wrapper">
            <div class="container">
                <div fxLayout="row wrap">
                    <div class="p-3" fxFlex.md="50" fxFlex.gt-md="50">
                        <div class="header">
                            <h1 class="fw-500">สมัครเป็นสมาชิก <br> สเวนเซ่นส์วันนี้ พร้อมรับสิทธิพิเศษมากมายรอคุณอยู่ที่นี่
                            </h1>
                        </div>
                        <div class="content">
                            <p class="fw-300">พิเศษสุดๆ! สำหรับสมาชิกสเวนเซ่นส์ ยิ่งกิน ยิ่งได้ ยิ่งคุ้ม ใครๆ ก็สมัครได้ ใช้ง่ายสะดวกสบายพร้อมสิทธิประโยชน์มากมายเพื่อคนสำคัญเช่นคุณ รอไม่ได้แล้ว สมัครเลย</p>
                        </div>
                        <div class="img-btn">
                            <a routerLink="/dashboard">สั่งออนไลน์</a>
                        </div>
                    </div>
                    <div class="img-container" fxFlex.md="50" fxFlex.gt-md="50">
                        <img src="https://swensens1112.com/images/banner-image.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <app-promotions-featured></app-promotions-featured>
</div>

<div class="banner-footer">
    <div class="container">
        <div fxFlex.md="50" fxFlex.gt-md="50" fxFlex.lt-sm="100">
            <img src="https://swensens1112.com/images/app-screen-webp.webp" alt="">
        </div>
        <div fxFlex.md="50" fxFlex.gt-md="50" fxFlex.lt-sm="100">
            <h2>ดาวน์โหลดที่</h2>
            <div fxLayout="row" class="download">
                <img src="https://swensens1112.com/images/google-play.png" alt="">
                <img src="https://swensens1112.com/images/app-store.png" alt="">
            </div>
        </div>
    </div>
</div>